.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:nth-child(2) i.anticon-close{
  display: none;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:nth-child(2) i.anticon-home{
  margin-right: 0;
  color: #666;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:nth-child(2):not('.ant-tabs-tab-active'):hover{
  padding: 5px 16px 4px;
  background-color: #f9f9f9;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:nth-child(2):hover{
  padding: 5px 16px 4px;
  background-color: #fff;
}
.Tab-container{
	height: 100%;
}
.ant-tabs{
	height: 100%;
}
.ant-tabs .ant-tabs-bar{
	margin-bottom: 0;
}
.ant-tabs .ant-tabs-content{
	height: 100%;
}
.ant-tabs .ant-tabs-content .ant-tabs-tabpane{
	padding: 30px;
}
.ant-tabs .ant-tabs-content:after{
	content: '';
	position: absolute;
	top: 31px;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #d9d9d9;
	border-top: none;
	z-index: -1;
}
