.Add-market .basicInfo{
	border: 1px solid #efefef;
	padding: 8px;
}
.basicInfo-header{
	font-size: 20px;
	padding: 8px 0;
	border-bottom: 1px solid #efefef;
}
.basicInfo-header i{
	font-size: 20px;
	margin-right: 8px;
}
.basicInfo-body{
	padding: 20px 0;
}

.ant-radio-wrapper{
	margin-top: -6px;
}